.idea
.vscode
.ipynb_checkpoints
__pycache__
Anirec/*.txt
Random.ipynb
*json
*csv
extras/
Web Scraping/.venv/
Web Scraping/Raw scrapped files
Web Scraping/Crawled Datasets
Web Scraping/ani_spider/*.json